[submodule "fundamentals/ggml/ggml"]
	path = fundamentals/ggml/ggml
	url = https://github.com/ggml-org/ggml.git
[submodule "fundamentals/llama.cpp/llama.cpp"]
	path = fundamentals/llama.cpp/llama.cpp
	url = https://github.com/ggml-org/llama.cpp
